
#Swagger документация доступна по адресу /api-docs
docs=true
#Порт запуска сервера
server_port=3030

# База данных
db_DataBaseName=
db_host=
db_port=
db_login=
db_pass=

# Redis
redis_login=
redis_pass=
redis_host=
redis_port=

# SMTP server
smtp_host=
smtp_port=
smtp_user=
smtp_pass=

# Доменное имя
domain=http://lol.com/
# URL для подтверждения email
urlVerifyEmail=http://localhost:5173/VerifyEmail/
# Время жизни ссылки подтверждения email (в секундах)
ttl_VerifyEmailURL=300

# ====================================
# JWT ТОКЕНЫ
# ====================================

# Секретный ключ для подписи Access токенов
token_accessSecretKey=
# Время жизни Access токена (в секундах)
ttl_ACCESS_TOKEN=900

# Секретный ключ для подписи Refresh токенов
token_refreshSecretKey=
# Время жизни Refresh токена (в секундах)
ttl_REFRESH_TOKEN=172800


# ====================================
# CDN НАСТРОЙКИ
# ====================================
# Базовый URL для CDN
cdn_url=http://192.168.1.230:3000

# ====================================
# SFU НАСТРОЙКИ (LiveKit)
# ====================================
hostSFU=
# тип API ключа для доступа к SFU серверу 
apiKeySFU=devkey
# Секретный ключ для SFU сервера
apiSecretSFU=
ttlTokenSFU=10m